
font{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-sec{
    display: flex;
}
.top-div-width{
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.top-div-width img{
    width:70%;
    margin-left: 80px;
}
.text-h1-deco{
    font-size: 80px;
    border-left: 5px solid rosybrown;
    border-radius: 5px;
    padding-left: 5px;
}
span{
    color: rgba(88, 219, 219, 0.952);
}
.text-font-p{
    font-size: 20px;
    color: rgb(104, 116, 128);
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    text-decoration: none;
    font-size:25px;
    border: 2px solid;
    color: white;
    background-color: tomato;
    border-radius: 10px;
    padding: 10px 40px;
}
.dis-flex-second{
    display:flex;
}
.middel-width{
    width:30%;
    margin-left: 100px;
    margin-right:20px;
    border: 2px;
    border-radius: 10px;
}
.middel-width img{
    width:50%;
}
h2{
    font-size: 70px;
    font-weight: 800;
    text-align: center;
}
h3{
    font-size: 40px;
}
.middel-sec-p{
    font-size: 23px;
}
#top-div-bg{
    background: 2px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.089);
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 100px;
}
#middel-div-bg{
    border: 2px ;
    border-radius:10px ;
    background-color: rgba(255, 192, 203, 0.24);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}
#bottom-div-bg{
    border: 2px;
    border-radius: 10px;
    background-color: rgba(255, 140, 0, 0.267);
    padding-left: 10px;
    padding-right:10px;
    margin-left: 20px;
    margin-right: 100px;
}
.bottom-section{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}
.bottom-width{
    width: 50%;
}
.bottom-width img{
    width: 70%;
    margin-left: 90px;
}
#bottom-right-mg{
    margin-right: 100px;
    margin-left: 0;
}
.bottom-sec-last{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}
.bottom-last-width{
    width: 50%;
}
.bottom-last-width img{
    width: 60%;
    margin-left:100px
}
#bottom-left-mg{
    margin-left: 100px;
    margin-right: 10px
}
.creative-section{
    display: flex;
    margin-top: 50px;
}
.creative-sec-width{
    width: 50%;
}
.creative-sec-width img{
    width: 70%;
    margin-top: 160px;
    margin-left: 90px;
}
h5{
    font-size: 20px;
}
footer{
    color: white;
    text-align: center;
    border: 2px;
    background-color: rgb(129, 127, 127);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 70px;
}